---
import { Image } from "astro:assets";
import { getEntries, getEntry, render } from "astro:content";

import logo from "@/assets/svg/logo.svg";

import { Separator } from "@/components/ui/Separator";
import { Stack } from "@/components/ui/Stack";
import { Typography } from "@/components/ui/Typography";

const footer = await getEntry("footer", "default");

const socials = await getEntries(footer?.data.socials ?? []).then((entries) =>
  Promise.all(
    entries.map(async (social) => ({
      ...social,
      ...(await render(social)),
    })),
  ),
);

const links = await getEntries(footer?.data.links ?? []);
---

<footer class="container overflow-hidden py-24 lg:max-h-110">
  <div
    class="grid grid-cols-[auto_1px_1fr_auto] items-center gap-6 max-lg:grid-cols-1"
  >
    <Image
      alt="ResX Logo"
      src={logo}
      class="h-auto w-34 lg:col-start-1 lg:row-start-1"
    />

    <Separator
      className="h-full max-lg:hidden lg:col-start-2 lg:row-start-1"
      orientation="vertical"
    />

    {
      socials.length > 0 && (
        <Stack
          orientation="row"
          align="center"
          gap="sm"
          className="text-muted-foreground lg:col-start-3 lg:row-start-1 [&_a]:hover:text-primary"
        >
          <Typography variant="body" size="md" color="muted">
            Follow us on
          </Typography>

          {socials.map(({ data: { url }, Content }) => (
            <a
              href={url}
              class="inline-block transition-transform duration-150 ease-out hover:rotate-6"
            >
              <Content />
            </a>
          ))}
        </Stack>
      )
    }

    <Separator className="w-full lg:hidden" orientation="horizontal" />

    <Stack
      orientation="row"
      className="[&>a]:text-muted-foreground [&>a]:hover:text-primary text-sm *:transition-all *:duration-300 max-lg:flex-col max-lg:items-start max-lg:gap-4 lg:col-start-4 lg:h-12"
      gap="lg"
      align="center"
    >
      {links.map((link) => <a href={link.data.url}>{link.data.title}</a>)}
    </Stack>

    <Typography
      color="muted"
      className="opacity-50 lg:col-start-1 lg:row-start-2"
      variant="body"
      size="sm"
    >
      Copyright {new Date().getFullYear()} ResX.
    </Typography>
  </div>

  <Image
    src={logo}
    alt="ResX Logo"
    class="mt-16 w-full mask-x-to-transparent opacity-75 grayscale"
  />
</footer>
