---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/Card";
import { Typography } from "@/components/ui/Typography";
import { ArrowRight } from "@/icons";

interface Props {
  article: CollectionEntry<"articles">;
}

const { article } = Astro.props;
---

<div
  class="hover:shadow-primary/20 group relative cursor-pointer rounded-3xl transition-all duration-400 ease-out hover:scale-101 hover:shadow-[0_12px_24px]"
>
  <a
    title={article.data.title}
    href={article.data.link}
    class="absolute inset-0 block"
  >
  </a>
  <Card
    className="group-hover:border-primary h-full overflow-hidden rounded-[inherit] bg-gradient-to-br from-white/0 via-white/10 to-white/0 transition-all duration-400"
  >
    <CardHeader className="p-0">
      <Image
        width={600}
        src={article.data.image}
        class="pointer-events-none"
        alt={article.data.title}
      />
    </CardHeader>
    <CardContent className="border-t p-4">
      <Typography variant="title" size="md" className="mb-3">
        {article.data.title}
      </Typography>
      <Typography variant="body" size="sm" className="line-clamp-3">
        {article.data.description}
      </Typography>
    </CardContent>
    <CardFooter className="px-4">
      <a
        class="text-primary text-shadow-primary/50 flex flex-row items-center gap-1 text-sm font-medium transition-all duration-300 group-hover:text-shadow-[0_0_8px]"
        href={article.data.link}
      >
        Read more
        <ArrowRight
          className="transition-all duration-300 ease-out group-hover:translate-x-1"
        />
      </a>
    </CardFooter>
  </Card>
</div>
